html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;
}

header {
  top: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

/* FOOTER */
footer .site-name {
  font-size: 1.1rem;
  color: #0390fc;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.logo img {
  height: 100%;
  width: 150px;
  object-fit: contain;
  display: flex;
  align-items: left;
}

a {
  text-decoration: none; 
}

.text-center{
  text-align: center!important;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  background: #29323c;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 50%;
}

.top-nav {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: left;
}

.nav-links{
  background-color: #c9b322;
  width: 100%;
}

.link{
  font-size: 100%;
  color: #474234;
  padding: 1.8%;
}

.top-nav .links {
  color: #f1f1f1;
  font-size: 20px;
  display: flex;
  width: 35%;
  height: 100%;
  
}

.top-nav .links a,
.top-nav .logo a {
  transition: var(--transition-fast);
  font-family: "Roboto", sans-serif;
}

.nav-container .links a {
  background-color: #4d4a45;
  width: 30%;
  padding-top: 4.5%;
  text-align: center;
  align-items: center;
  font-size: var(--font-medium);
}

.nav-container .logo p {
  font-size: var(--font-large);
}

.top-nav .nav-links a:hover {
  background-color: #696356;
  color: #b0a587;
}

.top-nav .nav-links a:hover,
.top-nav .logo a:hover {
  font-size: var(--font-large);
}

.nav-container .nav-links .language{
  color: #4d4a45;
  text-align: right;
  align-items: right;
}

.mobile-button {
  display: none;
}

.mobile-links {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  height: 100%;
  width: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: var(--transition-fast);
  padding-top: 20px;
}

.mobile-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  text-align: center;
  color: rgb(153, 255, 187);
}

.mobile-links .closebtn {
  font-size: var(--font-2x-large);
  color: rgb(153, 255, 187);
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: 5px solid rgb(153, 255, 187);
  position: absolute;
  right: 0;
  top: 0;
}

.slide-section{
  background: #485563;
  width: 100%;
  min-height: 600px;
  height: 800px;
}


/*Slides*/

.mySlides {
  display: none;
  text-align: center;
}

.mySlides img{
  width: 100%;
  min-height: 600px;
  height: 800px;
  opacity: 0.5;
  display: inline-block;
  object-fit: fill;
  text-align: center;
  filter: grayscale(80%);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: 200px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev{
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  width: 100%;
  top: 820px;
  align-items: center;
  position: absolute;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /*background-color: rgba(153, 255, 187, 0.2);*/
  background-color: rgba(201, 179, 34, 0.2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: rgba(201, 179, 34, 1);
}

.welcome-text{
  font-family: Lucida Console, sans-serif;
  font-size: 40px;
  color: #c9b322;
  width: 60%;
  padding-left: 20%;
  text-align: center;
  position: absolute;
  top: 30%;
}

.welcome-text .welcome-logo{
  width: 30%;
}

/* CONTAINERS */
.content-container{
  width: 96%;
  margin: 2%;
  border: 2px solid #000000;
  border-radius: 15px;
  align-content: center;
}

.content-container .noticias{
  height: 500px;
}

.inside-container{
  width: 96%;
  margin: 2%;
}

/* CONTAINER NOTICIAS */
.news-container {
  width: 30%;
  height: 350px;
  padding: 1%;
  margin-right: 0.5%;
  text-align: justify;
  border: 2px solid #000000;
  border-radius: 15px;
  display: inline-flex;
}

.proyecto{
}

